/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Add your updated CSS styles here */
/* Sidebar styles */

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #ffffff;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.172);
}

.sidebar.open {
  width: 200px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #ffffff;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #FFF;
}

.sidebar .bx-search:hover {
  background: #FFF;
  color: #11101d;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #ffffff;
}

.sidebar li a:hover {
  background: #FFF;
}

.sidebar li a .links_name {
  color: #373737;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px; 
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #ffffff;
  width: 100%;
  height: 40px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;  
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}


.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.card{
  padding: 3rem !important;
} 

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

@media (max-width: 770px){
 
  .logo-details{
    height: 70px !important;
    padding-right: 2rem !important;
  }
  .card{
    padding: 1.3rem !important;
  } 
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 55px;
    background: #ffffff;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.172);
  }
  .carousel-inner .carousel-item img{ 
    width: 100%;
  }
  .nav-list{
    padding-left: 0 !important;
  }
}


div.scrollmenu {
    
  overflow-x: scroll; /* Hides the horizontal scrollbar */
  overflow-y: hidden;
 white-space: nowrap;
}
div.scrollmenu::-webkit-scrollbar {
  height: 0; /* Hides the scrollbar track */
  background-color: transparent;
}

div.scrollmenu::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hides the scrollbar thumb */
}


div.scrollmenu div {
  
  display: inline-block;  
  text-align: center;
  text-decoration: none;
}

div.scrollmenu div img{  
  border-radius: 15px;
}

div.scrollmenu div:hover{
  opacity: 1;
-webkit-animation: flash 1.5s;
animation: flash 1.5s;
}

@-webkit-keyframes flash {
0% {
  opacity: .4;
}
100% {
  opacity: 1;
}
}
@keyframes flash {
0% {
  opacity: .4;
}
100% {
  opacity: 1;
}
}


div.scrollmenus {
  overflow-x: scroll; /* Hides the horizontal scrollbar */
  overflow-y: hidden;
 white-space: nowrap;
}
div.scrollmenus::-webkit-scrollbar {
  height: 0; /* Hides the scrollbar track */
  background-color: transparent;
}

div.scrollmenus::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hides the scrollbar thumb */
}

div.scrollmenus div {
  display: inline-block; 
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


.circle {
  width: 144px;
  height: 144px;
  background: rgb(246, 156, 85);
  border-radius: 50%;
}

.circle img {
  width: 144px;
  height: 144px;
  border-radius: 50%;
}

.circle1 {
  width: 64px;
  height: 64px;
  background: rgb(246, 156, 85);
  border-radius: 50%;
}

.circle1 img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);  
  backdrop-filter: blur(5px); 
  z-index: 9999;
} */


.btn1 {
  margin: 10px;
  border: 1px solid #1DA1F2;
}

.btn1:hover {
  background-color: #1DA1F2;
  color: white;
}

.bookingtab {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  box-shadow: 8px 8px 35px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

/* navbar */
.navbar-brand img{
  height: 70px !important;
  width: 70px;
}
.navbar-nav .nav-link {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #54B4D3 !important;
}

.navbar-toggler {
  border: 0 !important;
  padding: 2rem !important;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none !important;
  border: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: #545454;
  overflow-x: visible;
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: #545454;
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}